.footer {
    background-color: #2f303a;
    padding-top: 60px;
    padding-bottom: 60px;
}
.footer__item {
    margin-bottom: 60px;
}

@media screen and (min-width: 1200px) {
    .footer {
        display: flex;
    }
.footer__item{
    margin: 0;
} 

}